mixin button(settingsObject)
  - var defaults = { tag: 'a', type:'button', link: '#', text: 'button', icon: false, iconType: 'png', modifiers: [] };

  - var data = Object.assign(defaults, settingsObject);

  - var modifiersString = data.modifiers.map(function (modifier) {
  -     return 'button--' + modifier;
  -   }).join(' ');

  if (data.tag == 'a')
    #{data.tag}.button(class= modifiersString href= data.link) 
      if (data.icon)
        span.button__text #{data.text}
        i(class= 'button__icon ' + data.iconType + 'Icon ' + data.iconType + 'Icon--' + data.icon)
      else
        | #{data.text}
  else
    #{data.tag}.button(class= modifiersString type= data.type)
      if (data.icon)
        span.button__text #{data.text}
        i(class= 'button__icon ' + data.iconType + 'Icon ' + data.iconType + 'Icon--' + data.icon)
      else 
        | #{data.text}
      
  